/*======================================================
--artist
======================================================*/
@use "valiables" as v;

.artist {
    border: v.$line;
    border-radius: 20px;
    padding: 20px 30px;

    &__title {
        color: v.$c-yellow;
        background: v.$c-gray-1;
        text-align: center;
        margin-bottom: 20px;
        font-size: v.rem(10);
    }


}

