/*======================================================
--artist
======================================================*/
@use "valiables";

.artist {
    border: ;
    border-radius: 20px;
    padding: 20px 30px;
}